<a href="/arduino/stats?period=5m" class="period btn btn-default">5m</a>
<a href="/arduino/stats?period=1h" class="period btn btn-default">1h</a>
<a href="/arduino/stats?period=1d" class="period btn btn-default">1d</a>
<a href="/arduino/stats?period=30d" class="period btn btn-default">30d</a>
<a href="/arduino/stats?period=1Y" class="period btn btn-default">1Y</a>
<p>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</p>

<script type="text/javascript">
  document.TempData = {{.}};
</script>
