<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoHome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">AutoHome</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li{{ if eq current "settings"}} class="active"{{end}}><a href="/settings">Settings</a></li>
              <li{{ if eq current "scheduler"}} class="active"{{end}}><a href="/scheduler">Scheduler</a></li>
              {{range menus}}
              <li{{ if eq current .Link}} class="active"{{end}}><a href="/{{.Link}}">{{.Title}}</a></li>
              {{end}}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        {{ yield }}
      </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/control.js"></script>
    <script src="/js/scheduler.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/stats.js"></script>
  </body>
</html>
